
  h1{
    color:#1d1d1f
  }
  h1+*{
    margin-top: 0.8em;
  }
  .data{
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
  }
 
  .data-column{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
  }
  .data-large{
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .validator{
    box-sizing:border-box;
    white-space: nowrap;
    display: block;
    color: #bf4800;
  }
  .data-title{
    font-size: 32px;
    line-height:1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
    font-family:SF Pro Display;
  }
  .data-price{
    min-height: 35px;
  }
  .data-select{
    margin-top: 30px;
  }
  .data-dropdown{
    margin-bottom: 0.82353em;
    position: relative;
  }
  .data-dropdown-select{
    color: #1d1d1d;
    border-color: #d2d2d7;
    background-color: hsla(0, 0%, 100%, 0.8);
    font-size: 17px;
    /* font-family: SF Pro Text; */
    font-family:SF Pro Text, Helvetica Neue,Arial,sans-serif;
    height: 3.29;
    border-radius: 12px;
    border-style: solid;
    box-sizing: border-box;
    padding: 1.06rem 2.5rem 0 1rem;
    text-overflow:ellipsis; 
  }
  .data-size-text{
    position: absolute;
    top: 0.4rem;
    font-weight: lighter;
    left: 1rem;
    line-height: 1.33;
    font-size: 12px;
    font-family: SF Pro Text;
  }
  .row{
    /* display: flex; */
    flex-wrap: wrap;
    /* flex-direction: row; */
    width: 100%;
  }
  .data-delivery{
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    /* letter-spacing: -0.16em; */
    font-family: SF Pro Text,Arial, Helvetica Neue, sans-serif;
   display: flex;  
}
.data-delivery-data{
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    /* letter-spacing: -.016em; */
}
.data-ul{
  list-style:none;
  margin:0
}
.data-add-button{
   box-sizing: border-box;
   display: block;
   width: 100%; 
   /* font-size: 10px; */

}
/* .data-add-button p{
  padding-top: -10px;
} */

/* .data-add-button:hover{
  background: #1c86f0;
} */
.data-deciding{
    font-size: 14px;
    font-weight: 400;
    font-family: Sf Pro Text, Helvetica Neue,Helvetica,Arial,sans-serif;
}
.data-image{
  display: flex;
  flex-direction: column;
  /* margin-left: 40px; */
  /* justify-content: space-evenly; */
}
.data-gallery{
  text-align: center;
}
.data-information{
     margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
li{
  list-style: none;
}

.data-product{
  width: 800px;
}
.data-part-number{
  width: 800px;
  font-size:17px;
   font-family:SF Pro Text;
   color:#1d1d1f
}

.data-video{
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.data-videos{
  border-radius: 10px;
  border-color: red;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
  pointer-events: none;
}
.data-like{
  margin-left: auto;
  margin-right: auto;
  /* width: 980px; */
  margin-top: 32px;
}
.data-like h2{
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  font-family: SF Pro Display;
  text-align: center;
  border-top: 1px solid #d2d2d7;
}
.data-slider{
  margin-top: 32px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.data-slider-data{
 margin-left:auto ;
 margin-right: auto;
 background: #f2f2f2;
}
.data-slider-text{
  font-size: 17px;
  line-height: 1.1;
  font-family: SF Pro Text;
  font-weight: 600;
  overflow: hidden;
}
.data-slider-price{
  font-size: 17px;
  line-height: 1.1;
  font-weight: 400;
  font-family: SF Pro Text;
  text-align: center;
  padding-top: 10px;
}
.data-image-show-big{
  width: 572px;
  height: 572px;
}
.data-image-show-big img{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 415px) and (min-width:280px)  {
  .data{
     /* width: 100%; */
     /* position: absolute; */
     /* max-width: 400px; */
      display: flex;
      flex-direction: column;
      font-size: 17px;
      margin-left: 8px;
     width: 60%;
      /* max-width: auto; */
  }


  .data-images{
    margin-left: 24%;
    width: 100%;
    justify-content: center;
    align-items: center;


  }
  .data-image{
    /* margin-right: 40%; */
    margin-right: -10%;
    justify-content: center;
    align-items: center
    
  }
  .data-information{
    width: 400px;
   /* display: none; */
   margin-left: 10px;
  }
  .data-detail{
    /* margin-top: 100px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto; */
   /* width: 400px; */
   /* width: 90%; */

   display: flex;
   flex-direction: column;
   width: 300px;
   font-size: 14px;
  
}
.data-product-data{
  text-align: center;
}
.data-details{
  width: 300px;
}
.data-product{
  width: 350px;
  /* font-size: 14px; */
}
.data-part-number{
  width: 350px;
  /* font-size: 14px; */
}
.data-video{
  /* width: 95%; */
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.data-videos{
  
  /* position: relative;  */
  margin-left: 14px;
  max-width: 350px;
  margin-bottom: 20px;
}
.data-slider{
  margin-top: 32px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.data-image-show-big{
  width:300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}
.data-image-show-big img{
  width: 100%;
  height: 100%;
 
}
.data-select{
  width: 350px;
}
.row{
  display: flex;
  flex-direction: column;
  width: 350px;
}
.data-add-button{
  width: 350px;
}
.data-still{
  width: 350px;
}
.data-save{

}
}